<div class="w-screen bg-white shadow relative">
  <div (click)="closeDialog()" class="absolute top-2 right-2 cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>

  <div class="border-b border-gray-200 p-4 text-center">
    <div class="text-xl font-medium mb-2">Forgot Username/Password?</div>
    <div class="text-sm text-gray-800">
      Enter your registered email address to recover your username/password.
    </div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitForm()">
    <div class="p-4">
      <div class="mb-4">
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Email</label
        >
        <div class="mt-2">
          <input
            formControlName="email"
            placeholder="Email"
            type="email"
            autocomplete="email"
            required
            class="block disabled:bg-gray-200 disabled:text-gray-400 w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
        <div class="text-sm h-6 text-red-500 flex items-center">
          <div
            *ngIf="email?.invalid && (email?.touched || email?.dirty)"
          >
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">Invalid email address</div>
          </div>
        </div>
      </div>
      
      <div class="flex flex-col items-center">
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="button-green w-48 p-3 mb-2 text-center"
          [style.backgroundColor]="loginForm.valid ? (activeColor | async) : ''"
        >
          Send Email
        </button>
      </div>
    </div>
  </form>
</div>

