<div class="w-screen bg-white shadow relative">
  <div (click)="closeDialog()" class="absolute top-2 right-2 cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>

  <div class="border-b border-gray-200 p-4 text-center">
    <div class="text-xl font-medium mb-2">Sign Up</div>
    <div class="text-sm text-gray-800">
      Already registered?
      <a id="signIn" class="font-medium underline" (click)="openSignInDialog()" [style.color]="activeColor | async">
        Sign in here</a
      >
    </div>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="handleSubmitForm()">
    <div class="p-4">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Username</label
        >
        <div class="mt-2">
          <input
            formControlName="username"
            placeholder="Username"
            type="email"
            autocomplete="email"
            required
            class="block disabled:bg-gray-200 disabled:text-gray-400 w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
        <div class="text-sm h-6 text-red-500 flex items-center">
          <div
            *ngIf="username?.invalid && (username?.touched || username?.dirty)"
          >
            <div *ngIf="username?.errors?.['required']">Email is required.</div>
            <div *ngIf="username?.errors?.['email']">Invalid email address</div>
          </div>
        </div>
      </div>
      <div>
        <label
          for="password"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Password</label
        >
        <div class="mt-2">
          <input
            formControlName="password"
            placeholder="Password"
            type="password"
            autocomplete="password"
            required
            class="block disabled:bg-gray-200 disabled:text-gray-400 w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
        <div class="text-sm h-6 text-red-500 flex items-center">
          <div
            *ngIf="password?.invalid && (password?.touched || password?.dirty)"
          >
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be a minimum of 8 characters.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label
          for="confirmPassword"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Confirm Password</label
        >
        <div class="mt-2">
          <input
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            type="password"
            autocomplete="new-password"
            required
            class="block disabled:bg-gray-200 disabled:text-gray-400 w-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-400 sm:text-sm sm:leading-6"
          />
        </div>
        <div class="text-sm h-6 text-red-500 flex items-center">
          <div
            *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)"
          >
            <div *ngIf="confirmPassword?.errors?.['required']">
              Password confirmation is required.
            </div>
            <div
              *ngIf="confirmPassword?.errors?.['confirmPasswordValidator']"
            >
              Passwords do not match.
            </div>
            
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <button
          [disabled]="signUpForm.invalid"
          type="submit"
          class="button-green w-48 p-3 mb-2 text-center"
          [style.backgroundColor]="signUpForm.valid ? (activeColor | async) : ''"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>

